<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  {# Cargamos la librería #}
  {% load bootstrap4 %}
  
  {# CSS Bootstrap #}
  {% bootstrap_css %}
  {% load static %}
</head>
<body>

<div class="container">
  <h2>Change Password</h2>
  <form action="/setPassword">

    <input type="hidden" name="uid" value="{{uid}}">
    <div class="form-group">
      <label for="email">Password</label>
      <input type="text" class="form-control" name="password">
    </div>
            
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% bootstrap_javascript jquery='full' %}
        
        <script>
          $( "form" ).on( "submit", function( event ) {
            //event.preventDefault();
            console.log( $( this ).serialize() );
            });
        </script>
</body>
</html>
